{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ">
    <h4>My Bookings:</h4>
    <br />
    <!-- Loads all of the current user's reservations in a list and displays all the details -->
    {% for booking in bookings %}
      <a class="btn btn-sm btn-danger pull-right" href="{% url 'cancelbooking' booking.id %}">Cancel</a>
      <!-- <a  class="btn btn-sm btn-default pull-right "href="">Download PDF</a> -->
      <h5><u>{{ booking.hotel_id.name }}</u></h5>
      <p><mark>Room Type :</mark> {{ booking.roomtype }}.</p>
      <p><mark>Guest Name :</mark> {{ booking.guestFirstName }} {{ booking.guestLastName }}.</p>
      <p><mark>Check-in Date :</mark> {{ booking.CheckIn }}.</p>
      <p><mark>Check-out Date:</mark> {{ booking.CheckOut }}.</p>
      <p><mark>Total Price :</mark> £{{ booking.totalPrice }}.</p>
      <p><mark>Payment Status :</mark> {{ booking.payment_status }}.</p>
      {% if booking.payment_status != 'Success' %}
      <p>
        <form method="post" action="{% url 'paypal_payment' %}">
          {% csrf_token %}
          <input type="hidden" name="booking_id" value="{{ booking.id }}">
          <button type="submit"><mark>Pay with PayPal</mark></button>
        </form>
      </p>
      {% endif %}
      <hr />
    {% endfor %}
  </div>
</div>
{% endblock %}
